.App{
  width: 68%;
  margin: 0 auto;
  height: 100vh;
}

.add, .delete, .check{
  background-color: #eee;
  color: #333;
  height: 1rem;
  padding: 0.3rem;
  cursor: pointer;
}

.delete{
  background-color: red;
  color: #eee;
}

.check{
  background-color: limegreen;
  color: #eee;
}

.check:hover, .delete:hover{
  opacity: 70%;
}

.add:hover{
background-color: rgb(187, 183, 183);
}

.taskInput{
  outline: none;
  border: none;
  padding: 0.3rem;
  width: 70%;
  background-color: #eee;
}

.dropDown{
  height: 1.7rem;
  outline: none;
}

.inpAdd, .todoContainer{
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputContainer, .todos{
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.todos{
  flex-direction: column;
}
.todo{
  background-color: #eee;
  color: #333;
  padding: 0.2rem;
  width: 75%;
}

.todos{
  margin-top: 1rem;
}